body {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

div {
    position: fixed;
    background-color: black;
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    position: absolute;
    left: 227px;
    top: 11px;
    font-size: 25px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#mac {
    position: absolute;
    left: 340px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#ipad {
    position: absolute;
    left: 465px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#iphone {
    position: absolute;
    left: 591px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#watch {
    position: absolute;
    left: 740px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#tv {
    position: absolute;
    left: 882px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#music {
    position: absolute;
    left: 998px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#assistance {
    position: absolute;
    left: 1138px;
    top: 17px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

.fa-search {
    position: absolute;
    left: 1313px;
    font-size: 25px;
    top: 13px;
    color: #cccccb;
    font-weight: normal;
    transition-property: color;
    transition-duration: 3s;
}

.fa-shopping-bag {
    position: absolute;
    left: 1433px;
    font-size: 25px;
    top: 11px;
    color: #cccccb;
    transition-property: color;
    transition-duration: 3s;
}

#logo:hover, #mac:hover, #ipad:hover, #iphone:hover, #watch:hover, #tv:hover, #music:hover, #assistance:hover, .fa-search:hover,
.fa-shopping-bag:hover {
    color: white;

}
